@model Fuzzyminds.ResumeAspNet.ResumeDto.ResumeRecord

    <div class="row">
        @foreach (var p in Model.PositionRecords)
        {
            <h4>@Html.Encode(p.Company.Name)</h4>
            <p>
                @Html.Encode(p.Title)
            </p>
            <p>
                @Html.Encode(p.StartDate.ToString("yyyy MMMM")) to @Html.Encode(p.EndDate.GetValueOrDefault().ToString("yyyy MMMM"))
            </p>
            <p>
                @Html.Encode(p.Summary)
            </p>
        }
    </div>