<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">
    <title>@ViewBag.Title - Darragh ORiordan</title>
    <link href="https://fonts.googleapis.com/css?family=Merriweather+Sans" rel="stylesheet">
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    
</head>
<body>
    <div id="page" class="site">
        <header id="masthead" class="site-header" role="banner">
            <div class="site-header-wrapper">
                <div class="site-branding">

                    <h1 class="site-title">
                        <a href="https://www.darraghoriordan.com/" rel="home">&#123;&#123; darraghoriordan.com &#125;&#125;</a>
                    </h1>
                    <p class="site-description"></p>
                </div><!-- .site-branding -->

                <button id="menu-toggle" class="menu-toggle">Menu</button>
                <div id="site-menu" class="site-menu">
                    <nav id="site-navigation" class="main-navigation" role="navigation" aria-label="Primary Menu">
                        <div class="menu-primary-container">
                            <ul id="menu-primary" class="primary-menu">
                                <li>@Html.ActionLink("Home", "Index", "Home")</li>
                                <li>@Html.RouteLink("About", "About")</li>
                                <li>@Html.RouteLink("Portfolio", "Portfolio")</li>
                                <li>@Html.RouteLink("Resume", "Resume")</li>
                                <li>@Html.RouteLink("Blog", "Blog")</li>
                                <li>@Html.RouteLink("Contact", "Contact")</li>

                                @Html.Partial("_LoginPartial")
                            </ul>
                        </div>
                    </nav><!-- .main-navigation -->
                </div><!-- .site-menu -->
            </div><!-- .site-header-wrapper -->
        </header>

        <div class="container c-body-content">
            @RenderBody()
            <hr />
            <footer class="text-center c-footer-content">
                <p>&copy; @DateTime.Now.Year - darraghoriordan.com</p>
            </footer>
        </div>
    </div>
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)

    <script>
        masthead = $('#masthead');
        menuToggle = masthead.find('#menu-toggle');
        siteMenu = masthead.find('#site-menu');
        siteNavigation = masthead.find('#site-navigation');

        // Enable menuToggle.
        (function () {

            // Return early if menuToggle is missing.
            if (!menuToggle.length) {
                return;
            }

            menuToggle.on('click', function () {
                $(this).add(siteMenu).add(siteNavigation).toggleClass('toggled-on');

            });
        })();
    </script>
    <script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-88937812-1', 'auto');
  ga('send', 'pageview');

</script>
</body>
</html>
